body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: sans;
  src: url(./assets/iran-sans/iran-sans.eot) format('embedded-opentype'), url(./assets/iran-sans/iran-sans.ttf) format('truetype'), url(./assets/iran-sans/iran-sans.woff) format('woff');
}

* {
  direction: rtl;
  font-family: sans;
  box-sizing: border-box;
}

.clearfix:after, .row:after {
  display: block;
  content: '';
  clear: both;
}